body{
	margin: 0 auto;
	line-height: 1.5;
	padding: 2em 1em;
	font-family: 'Roboto Slab', serif;
	color: #555;
	text-align:justify;
}

h1,
h2,
h3,
h4,
strong {
	color: #333;
}

a {
	color: #F44336;
}

li {
	list-style: square;
}


#content{
	position:absolute;
	left:5%;
	right:5%;
}

.contact {
	font-size: 1.4em;
}